body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3c678;
}

.title {
    display: block;
    height: 10vh;
    margin: 1vh auto;
}

header { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
    gap: 0.5vw;
    max-width: 30vw;
}

main {
    max-width: 60vw;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section {
    margin: 2.5vh auto;
}

.about-me {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;

    div {
        &:first-child {
            flex: 3;
        }
        &:last-child {
            flex: 7;
        }
    }
}

.namecard {
    display: block;
    max-width: 20vw;
    max-height: 20vh;
    rotate: -10deg;
    
    img {
        width: 100%;
        height: 100%;
    }
}

.likes-dislikes {
    display: flex;
    flex-direction: row;
    gap: 5vw;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul {
        width: 25vw;
        column-count: 2;
        list-style-position: inside;
    }
}

.contact-list {
    display: flex;
    flex-direction: row;

    .contact-list_element {
        margin: 1vw;
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.text-container {
    background-color: #dfa05c;
    border: 3px, dashed, #333;
    border-radius: 20px;
    padding: 5%;
    text-wrap: wrap;
    h1 { color: #ffffff;
        -webkit-text-stroke: 1.5px #333;
        font-size: 2rem;
        font-weight: 800;
    }
    p { color: #333; }
}