
body {
  background-color: #3e85a7 no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Courier', monospace;
}

header {
  width: fit-content;
  padding: 15px 90px;
  margin: 10px auto 0;
  text-wrap: balance;
  position: relative;
  z-index: 100;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

main a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  pointer-events: none;
  text-align: center;
}

main a:hover span {
  opacity: 1;
}

.about-link {
  position: absolute;
  top: 290px;
  left: 160px;
}

.blog-link {
  position: absolute;
  top: 490px;
  left: 150px;
}

.changelog-link {
  position: absolute;
  bottom: 450px;
  left: 470px;
}

.crochet-link {
  position: absolute;
  top: 450px;
  right: 750px;
}

.games-link {
  position: absolute;
  top: 560px;
  left: 1530px;
}

.writing-link {
  position: absolute;
  bottom: 450px;
  left: 150px;
}

.sitemap-link {
  position: absolute;
  top: 325px;
  left: 460px;
}

.guestbook-link {
  position: absolute;
  bottom: 50px;
  left: 120px;
}

.media-link {
  position: absolute;
  top: 200px;
  right: 50px;
}

.music-link {
  position: absolute;
  top: 400px;
  right: 570px;
}

.roma-link {
  position: absolute;
  top: 300px;
  right: 1000px;
}

.about-link:hover, .blog-link:hover, .changelog-link:hover, .crochet-link:hover, .games-link:hover, .writing-link:hover, .sitemap-link:hover, .guestbook-link:hover, .media-link:hover, .music-link:hover, .roma-link:hover {
  transform: rotate(7deg);
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
}
