@font-face {
  font-family: "Windows";
  src: url("../fonts/windows-bold[1].ttf");
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: url("../images/yellow.jpg");
    background-repeat: repeat;
    font-size: 16px;
    color: #b38d6b;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Windows";
    margin: 0 auto;
}

p, li {
    font-family: "MS Gothic";
    line-height: 25px;
}

a {
    color: #74a545;
}

a:hover {
    color: #8ad955;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 50%;
    margin: auto;
    color: #b38d6b;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "marquee marquee"
    "sidebar main";
    grid-template-columns: 230px 840px;
    gap: 4px;
    padding: 4px;
    border-width: 7px;
    border-style: solid;
    border-image: url("https://foollovers.com/mat/baf/food/fo32-008-a.gif") 7 round;
    width: 1080px;
    margin: 0 auto;
    background-color: #ffffff;
}

.wrapper > .marquee {
    grid-area: marquee;
    display: flex;
    padding: 5px;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABE0lEQVR4AbzOQUooURBD0f9dk2N34SrdhWP3pJzBLaqfjQiiDSF5SSr0w79f+P5m9Pnp8X3/vDfwMNDhfPMvf6rw8vr2HwuxN5x65zLvMKMCxwXeW8tOr/zMZrTAIe0gpjfysT7QdWaUUVAJA3/z1vuOhsuoMnOP0HkxTxfzaBxmVKAEhd9hfXBff0YzhKCYd8dyPTjzGa2E4a68j+V6kC6f0QIMypXuWK4H6XozmqEAynl3LNeDM59RoSKcpa/e+uC+3owyCiphkG2mdbGMxuEyuku0MqTj7Rni4zCjAmWgFWJ6Ix/rA11nRs/AuxLtCG8vfWYzquBoF3rnYeDf9XlwGWV0QIM3nNobyujwabTgJ/wBAAD//7ugOcIAAAAGSURBVAMAx1RQOkr6v1sAAAAASUVORK5CYII=") 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;
    background-color: #f5f0dc;

    marquee {
        width: 1050px;

        img {
            margin: 0 10px;
        }
    }
}

.wrapper > .sidebar {
    grid-area: sidebar;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABE0lEQVR4AbzOQUooURBD0f9dk2N34SrdhWP3pJzBLaqfjQiiDSF5SSr0w79f+P5m9Pnp8X3/vDfwMNDhfPMvf6rw8vr2HwuxN5x65zLvMKMCxwXeW8tOr/zMZrTAIe0gpjfysT7QdWaUUVAJA3/z1vuOhsuoMnOP0HkxTxfzaBxmVKAEhd9hfXBff0YzhKCYd8dyPTjzGa2E4a68j+V6kC6f0QIMypXuWK4H6XozmqEAynl3LNeDM59RoSKcpa/e+uC+3owyCiphkG2mdbGMxuEyuku0MqTj7Rni4zCjAmWgFWJ6Ix/rA11nRs/AuxLtCG8vfWYzquBoF3rnYeDf9XlwGWV0QIM3nNobyujwabTgJ/wBAAD//7ugOcIAAAAGSURBVAMAx1RQOkr6v1sAAAAASUVORK5CYII=") 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;
    padding: 20px;
    background-color: #f5f0dc;
}

.wrapper > .main {
    grid-area: main;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABE0lEQVR4AbzOQUooURBD0f9dk2N34SrdhWP3pJzBLaqfjQiiDSF5SSr0w79f+P5m9Pnp8X3/vDfwMNDhfPMvf6rw8vr2HwuxN5x65zLvMKMCxwXeW8tOr/zMZrTAIe0gpjfysT7QdWaUUVAJA3/z1vuOhsuoMnOP0HkxTxfzaBxmVKAEhd9hfXBff0YzhKCYd8dyPTjzGa2E4a68j+V6kC6f0QIMypXuWK4H6XozmqEAynl3LNeDM59RoSKcpa/e+uC+3owyCiphkG2mdbGMxuEyuku0MqTj7Rni4zCjAmWgFWJ6Ix/rA11nRs/AuxLtCG8vfWYzquBoF3rnYeDf9XlwGWV0QIM3nNobyujwabTgJ/wBAAD//7ugOcIAAAAGSURBVAMAx1RQOkr6v1sAAAAASUVORK5CYII=") 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;
    padding: 20px;
    background-color: #f5f0dc;
}

section {
    border: 2px dashed;
    padding: 20px;
}