@font-face {
  font-family: "Windows";
  src: url("../fonts/windows-bold[1].ttf");
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: url("../images/stars.gif");
    background-repeat: repeat;
    font-size: 16px;
    color: #571D63;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Windows";
    margin: 10px 0;
}

h1 {
    font-size: 2rem;
}

p, li {
    font-family: "MS Gothic";
    line-height: 25px;
}

a {
    color: #005322;
}

a:hover {
    color: #19A453;
}

ul {
    background-color: #EACAEE;
    border: 2px #571D63 dashed;
    border-radius: 15px;
    padding: 10px 20px 10px 40px;
    color: #2C0036;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 150px;
    margin: auto;
    color: #b38d6b;

    img {
        width: 200px;
        height: auto;
    }
}

.wrapper {
    display: grid;
    grid-template-areas:
    "marquee marquee"
    "sidebar main";
    grid-template-columns: 230px 840px;
    gap: 4px;
    padding: 4px;
    width: 1080px;
    margin: 0 auto;
    background-color: #50488B;
}

.wrapper > .marquee {
    grid-area: marquee;
    display: flex;
    padding: 5px;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABE0lEQVR4AbzOQUooURBD0f9dk2N34SrdhWP3pJzBLaqfjQiiDSF5SSr0w79f+P5m9Pnp8X3/vDfwMNDhfPMvf6rw8vr2HwuxN5x65zLvMKMCxwXeW8tOr/zMZrTAIe0gpjfysT7QdWaUUVAJA3/z1vuOhsuoMnOP0HkxTxfzaBxmVKAEhd9hfXBff0YzhKCYd8dyPTjzGa2E4a68j+V6kC6f0QIMypXuWK4H6XozmqEAynl3LNeDM59RoSKcpa/e+uC+3owyCiphkG2mdbGMxuEyuku0MqTj7Rni4zCjAmWgFWJ6Ix/rA11nRs/AuxLtCG8vfWYzquBoF3rnYeDf9XlwGWV0QIM3nNobyujwabTgJ/wBAAD//7ugOcIAAAAGSURBVAMAx1RQOkr6v1sAAAAASUVORK5CYII=") 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;
    background-color: #F5E8F4;

    marquee {
        width: 1050px;

        img {
            margin: 0 10px;
        }
    }
}

.wrapper > .sidebar {
    grid-area: sidebar;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABE0lEQVR4AbzOQUooURBD0f9dk2N34SrdhWP3pJzBLaqfjQiiDSF5SSr0w79f+P5m9Pnp8X3/vDfwMNDhfPMvf6rw8vr2HwuxN5x65zLvMKMCxwXeW8tOr/zMZrTAIe0gpjfysT7QdWaUUVAJA3/z1vuOhsuoMnOP0HkxTxfzaBxmVKAEhd9hfXBff0YzhKCYd8dyPTjzGa2E4a68j+V6kC6f0QIMypXuWK4H6XozmqEAynl3LNeDM59RoSKcpa/e+uC+3owyCiphkG2mdbGMxuEyuku0MqTj7Rni4zCjAmWgFWJ6Ix/rA11nRs/AuxLtCG8vfWYzquBoF3rnYeDf9XlwGWV0QIM3nNobyujwabTgJ/wBAAD//7ugOcIAAAAGSURBVAMAx1RQOkr6v1sAAAAASUVORK5CYII=") 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;
    padding: 20px;
    background-color: #F5E8F4;
}

.wrapper > .main {
    grid-area: main;
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABE0lEQVR4AbzOQUooURBD0f9dk2N34SrdhWP3pJzBLaqfjQiiDSF5SSr0w79f+P5m9Pnp8X3/vDfwMNDhfPMvf6rw8vr2HwuxN5x65zLvMKMCxwXeW8tOr/zMZrTAIe0gpjfysT7QdWaUUVAJA3/z1vuOhsuoMnOP0HkxTxfzaBxmVKAEhd9hfXBff0YzhKCYd8dyPTjzGa2E4a68j+V6kC6f0QIMypXuWK4H6XozmqEAynl3LNeDM59RoSKcpa/e+uC+3owyCiphkG2mdbGMxuEyuku0MqTj7Rni4zCjAmWgFWJ6Ix/rA11nRs/AuxLtCG8vfWYzquBoF3rnYeDf9XlwGWV0QIM3nNobyujwabTgJ/wBAAD//7ugOcIAAAAGSURBVAMAx1RQOkr6v1sAAAAASUVORK5CYII=") 7 /  7px / 0 round;
    border-width:  7px;
    border-style:  solid;
    padding: 20px;
    background-color: #F5E8F4;
}

section, article {
    border: 2px dashed;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.row > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row img {
    object-fit: contain;  
    max-width: 100%;
    max-height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-image-left {
    float: left;
    margin: 0 30px 20px 0;
    max-width: 50%;
    height: auto;
}

.wrap-image-right {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 50%;
    height: auto;
}

.callout {
    display: block;
    background-color: #EACAEE;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    color: #2C0036;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-card {
    transition: transform 0.3s ease;
    width: 130px;
    flex-shrink: 0;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.gallery-card.active {
    transform: scale(1.5);
    z-index: 10;
}

#review-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#review-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-wrapper {
    position: relative;
    height: 80vh;
    width: auto;
    display: inline-block;
}

.poster-wrapper img {
    height: 100%;
    width: auto;
    display: block;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    overflow: auto;
    text-align: left;
}

#close-btn {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 5rem;
    cursor: pointer;
    color: #ffffff;
}